<div class="checkbox-menu">
  <label for="check">guides</label>
  <input type="checkbox" name="check" id="checkGuides" checked onchange="javascript:showContentGuides()" />
  
  <label for="check">routes</label>
  <input type="checkbox" name="check" id="checkRoutes" checked onchange="javascript:showContentRoutes()" />
  
  <label for="check">points</label>
  <input type="checkbox" name="check" id="checkPoints" checked onchange="javascript:showContentPoints()" />
</div>




<div class="content-checkbox">

  <div id="item-guides" ><%= render :partial => "guides/item" %></div>
  <div id="item-routes" ><%= render :partial => "routes/item" %></div>
  <div id="item-points" ><%= render :partial => "points/item" %></div>


</div>















