<li>
	<label class="checkbox">
		<input type="checkbox" value="">
		Monuments
	</label>
</li>

<li>
	<label class="checkbox">
		<input type="checkbox" value="">
		Events
	</label>
</li>

<li>
  <label class="checkbox">
    <input type="checkbox" value="">
    Curiosity
  </label>
</li>

<li>
  <label class="checkbox">
    <input type="checkbox" value="">
    Shopping
  </label>
</li>

<li>
  <label class="checkbox">
    <input type="checkbox" value="">
    Hostel
  </label>
</li>

<li>
  <label class="checkbox">
    <input type="checkbox" value="">
    Restaurant
  </label>
</li>
