<%= div_for trip do %>

  <div class="thumb">
    <%= link_to(raw("<i class='icon_place_70-default'></i> "), trip)%>
  </div>

  <div class="text">
    <h6><%= link_to trip.title, trip %></h6>
  </div>

<% end %> 
