<h2>Edit Trip</h2>

<%= render :partial => 'form' %>
<%= render :partial => 'shared/form_description', :locals => {:ao => @trip} %>
<%#= render :partial => 'shared/form_photo', :locals => {:ao => @trip} %>