<section class="toolbar_profile" class="">
  <div class="toolbar_content">
    <ul>
      <% @plannings.each do |planning| %>
        <li class="diaries">
          <%= link_to(planning, remote: true) do %>
            <div class="toolbar_front ">
              <div class="description"><%= planning.title %></div>
            </div>
            <div class="toolbar_back toolbar_diaries">
            </div>
          <% end %>
        </li>
      <% end %>

      <% (8 - @plannings.length).times do %>
        <li class="diaries">
          <div class="toolbar_front">
            <div class="description">empty</div>
          </div>
          <div class="toolbar_back"></div>
        </li>
      <% end %>
    </ul>
  </div>
</section>
