.filter
  position: absolute
  z-index: 2
  display: inline
  right: 0
  top: -80px
  .buttonFilter
    width: 60px
    height: 60px
    background-color: $color1
    color: $white
    @include border-radius(30px)
    right: 0px
    z-index: 3
    position: absolute
    margin-top: 85px
    border: none
    &:active
      background-color: $grayLighter
  .buttonFilterActive
    width: 60px
    height: 60px
    background-color: $grayLighter
    color: $gray
    font-size: 35px
    @include border-radius(30px)
    right: 0px
    z-index: 3
    position: absolute
    margin-top: 85px
    border: none
    &:active
      background-color: $grayLighter
#effect
  position: relative
.newClass
  margin-top: 85px
  width: 60px
  height: 60px
  background-color: $color1
  @include border-radius(30px)
  label
    display: none
  input[type=checkbox]
    display: none
  input[type=checkbox] + label
    display: none
  input[type=checkbox]:checked + label
    display: none
  input[type=text]
    display: none
.anotherNewClass
  width: 230px
  height: 230px
  margin-right: 25px
  background-color: $color1
  @include border-radius(115px)
  .filter-element
    height: 200px
    padding-top: 14px
    padding-left: 5px
    label
      display: inline-block
      @mixin prgTitle
    input[type=checkbox]
      display: none
    input[type=checkbox] + label
      float: left
      color: #fff
      display: inline-block
      width: 140px
      height: 24px
      background: url(ico/checkwhite-off.png) 0px 0px no-repeat
      text-indent: 25px
      
    input[type=checkbox]:checked + label
      background: url(ico/checkwhite-active.png) 0px 0px no-repeat
    input[type=text]
      width: 155px
      margin-bottom: 5px
#checkHostels,#checkCuriosity
  margin-left: 55px
#checkShopping,#checkHistorical
  margin-left: 27px
#checkArt,#checkRestaurants
  margin-left: 10px