#frontpage
  display: inline-block
  float: left
  @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
  
  .menu-map
    background-color: $color2
    height: 25px

    padding-top: 5px
    .button

      padding: 0
      width: 100%
      li
        display: inline
        margin-left: 25px

        a
          @include info_use
          text-decoration: none
          padding: 3px
          background-color: $color2
          color: #fff
        a:hover 
          background-color: $color1
          margin-top: -2px
          padding-bottom: 10px 
          @include border-top-left-radius(0px)
          @include border-top-right-radius(0px)
          @include border-bottom-right-radius(15px)
          @include border-bottom-left-radius(15px) 


  .front-map
    background-size: cover
    position: relative
    width: 100%
    height: 550px
    background: url("mapa-mundo.jpg")
    .inspire_Z
      z-index: 2
      @include border-top-left-radius(40px)
      @include border-top-right-radius(40px)
      @include border-bottom-right-radius(40px)
      @include border-bottom-left-radius(40px)
      background-color: $color1
      width: 8.5%
      height: 15%
      float: right
      margin-top: 5%
      margin-right: 5%

      .inspire_front
        font-family: $LatoLight
        font-size: 20px
        color: white
        text-align: center
        input
        @include center-block
        margin-top: 30px


    .trip_Z
      z-index: 4
      @include border-top-left-radius(8px)
      @include border-top-right-radius(8px)
      @include border-bottom-right-radius(8px)
      @include border-bottom-left-radius(8px)
      background-color: $color1
      width: 2%
      height: 3%
      float: left
      margin-top: 20%
      margin-left: 70%


    .trip_x
      z-index: 5
      @include border-top-left-radius(8px)
      @include border-top-right-radius(8px)
      @include border-bottom-right-radius(8px)
      @include border-bottom-left-radius(8px)
      background-color: $color1
      width: 2%
      height: 3%
      float: left
      margin-top: 5%
      margin-left: 90%

      .trip_y
      z-index: 6
      @include border-top-left-radius(8px)
      @include border-top-right-radius(8px)
      @include border-bottom-right-radius(8px)
      @include border-bottom-left-radius(8px)
      background-color: $color1
      width: 2%
      height: 3%
      float: right
      margin-top: 10%
      margin-left: 20%

      .trip_w
      z-index: 7
      @include border-top-left-radius(8px)
      @include border-top-right-radius(8px)
      @include border-bottom-right-radius(8px)
      @include border-bottom-left-radius(8px)
      background-color: $color1
      width: 2%
      height: 3%
      float: left
      margin-top: 20%
      margin-left: 70%
      


    .search-inspire
      position: absolute
      height: 100px
      width: 600px 
      left: 19%
      bottom: 0 
      display: block
      
      .front-text
        font-family: $LatoLight
        font-size: 30px
        color: white
        text-align: center 
      input
        @include center-block


  #interest_points
    .checkbox-menu
      margin-top: 10px
      p
        color: black
        @include view

  #users
    
    width: 31.8%
    height: auto
    float: left
    .top_travelers
      height: 30px
      .topt

        font-family: $LatoLight
        font-size: 20px
        color: $color1
        text-align: center
        input
        @include center-block
        margin-top: 15px

    .users_front_list
      
   

      ul
        padding: 0

        li.avatar
          margin-bottom: 40px
          margin-right: 20px
          display: inline-block
          width: 70px
          float: left
          img
            @include border-top-left-radius(35px)
            @include border-top-right-radius(35px)
            @include border-bottom-right-radius(0px)
            @include border-bottom-left-radius(35px)
            width: 70px
            height: 70px


.btn_map
  background-color: #0DA592
  border-color: transparent
  border-radius: 5px 5px 5px 5px
  height: 24px
  margin-top: 10px
  width: 95px
  @include mapMode

  a 
    color: white
    padding-left: 10px
    padding-right: 10px
  

