.navbar
	.navbar-inner
		background-color: $bodyBackground
		border: none
		background-image: none
		box-shadow: none
		.nav-header
			.brand
				@include makeColumn(2, 0)
				margin-left: 0px
				padding: 13px 6px 0px 0px
				
			.logo
				margin-top: 5px
				display: inline-block
				float: left
				img
					width: 75px
					margin-right: 20px
			.user-nav
				
				
				
				
				height: 30px
				margin-top: 6px
				margin-bottom: 3px
				.avatar-nav
					img
						@include border-top-left-radius(15px)
						@include border-top-right-radius(15px)
						@include border-bottom-right-radius(0px)
						@include border-bottom-left-radius(15px)
						width: 30px
						height: 30px
						
				a
					padding: 0px
				.name
					padding-left: 20px
					padding-right: 20px
					font-size: 16px
					vertical-align: text-top
					font-weight: normal
			.logpover
				display: inline-block
				margin-top: 11px
			.navregister
				margin-left: 20px	
			.asistfloat	
				float: right	
				width: 35%
				.search-nav
					margin-right: 40px
					display: inline-block
					.search-query
						border: 0px solid #ffffff
					
				.dropdown
					display: inline-block
					vertical-align: top
					margin-top: 11px
					
					color: #000
					.dropdown-toggle
						a
							color: $color1
						.caret
							margin-top: 5px
							border-left: 8px solid transparent
							border-right: 8px solid transparent
							border-top: 8px solid $color1

						ul.dropdown-menu

							li





				




