.navbar
	.navbar-inner
		background-color: $bodyBackground
		border: none
		background-image: none
		box-shadow: none
		.nav-header
			.brand
				@include makeColumn(2, 0)
				margin-left: 0px
				padding: 13px 6px 0px 0px
			.logo
				z-index: 5
				position: absolute
				display: inline-block
<<<<<<< HEAD
				float: right

=======
				float: left
				margin-left: -3px
>>>>>>> a1d821ca23cee5ec59269b3b497363a8a002c077
				img
					width: 138px
					height: auto
					
			.user-nav
				margin-left: 250px
				height: 30px
				margin-top: 6px
				margin-bottom: 3px
				.avatar-nav
					img
						@include border-top-left-radius(15px)
						@include border-top-right-radius(15px)
						@include border-bottom-right-radius(0px)
						@include border-bottom-left-radius(15px)
						width: 30px
						height: 30px	
				a
					padding: 0px
				.name
					padding-left: 20px
					padding-right: 20px
					font-size: 16px
					vertical-align: text-top
					font-weight: normal
			.logpover
				display: inline-block
				margin-top: 18px
				margin-left: 210px
			.navregister
				margin-left: 20px	
			.asistfloat	
				float: right	
				width: 35%
				.search-nav
					
					display: inline-block
					.search-query
						border: 0px solid #ffffff
				.dropdown
					float: right
					display: inline-block
					vertical-align: top
					margin-top: 11px
					margin-right: 20px
					color: #000
					.dropdown-toggle
						a
							color: $color1
						.caret
							margin-top: 5px
							border-left: 8px solid transparent
							border-right: 8px solid transparent
							border-top: 8px solid $color1
						ul.dropdown-menu
							li

.nav-header
	

	.popover
		text-align: center
		width: 300px
		height: 380px
		margin-left: 240px
		.popover-inner
		border-radius: 0px
		border-color: $color1
		border-line: 10px
		margin-left: 250px
		.popover-title
			display: none
		.popover-content
			.remember
				label
					display: inline-block
				input[type=checkbox]
					display: none
				input[type=checkbox] + label
					background: #fff
					display: inline-block
					width: 85px
					height: 24px
					background: url(ico/checkedoff.png) 0px 0px no-repeat
					text-indent: 25px
				input[type=checkbox]:checked + label
					background: url(ico/checked.png) 0px 0px no-repeat

				
			.options
				width: 276px
				

