.banner
  @include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
  height: 60px
  display: inline-block

body
  .wrapper
    width: 969px
    background-image: url('guia-01.png')
    background-repeat: repeat-y
  .divider
    background-color: lightgrey
    height: 1px
  .section 
    font-family: $section
    text-align: center
    width: 100%
    color: grey
    margin-bottom: 40px
.navbar
  .container
    width: 969px
    display: block
    margin-left: auto
    margin-right: auto