.banner
	@include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
	height: 60px
	display: inline-block

body
	.wrapper
		width: 969px
		background-image: url('guia-01.png')
		background-repeat: repeat-y