#content_profile
	margin-top: 15px
	float: right
	width: 309px
	.divider
		margin-bottom: 32px
	.trip_content
		.trips
			width: 197px
			margin: auto
			.city p
				font-family: $title2
			.plannings,
			.diaries
				display: inline-block
				position: relative
				width: 94px
				height: 102px
				text-align: center
				background-color: $color2
				.diary_item
					z-index: 0
					position: absolute
					width: 100%
				.caption_img
					margin-left: 48px
					position: absolute
					top: -17px
					z-index: 1
				.planning_item
					z-index: 0
					position: absolute
					width: 100%
#wall
	float: left
	width: 643px
	background-color: $white			
	margin-top: 15px