// colors
// -------------------------
$color1: 									#0da592;
$color2: 									#c07313;
$color3:									#20170d;
$bodyBackground:          #f9f9f9;


// typography
// -------------------------
//$title: 									"Lato book 300 italic";
//$section: 								"Lato book 300";
//$link: 										"Lato regular";
//$text: 										"OpenSans normal 400";
//$title_prg:								"Lato normal 400";

// Links
// -------------------------
$linkColor:        			$color1;
$linkColorHover:        darken($linkColor, 15%);
$link_prg: 							white; 
