// colors
// -------------------------
$color1:                  #0da592;
$color2:                  #c07313;
$color3: 									#f9f9f9;
$color4: 									#20170d;


// typography
// -------------------------
$title:
$section:
$link:
$text: 
$title_prg:								

// Links
// -------------------------
$linkColor:             $color1;
$linkColorHover:        darken($linkColor, 15%);
$link_prg: 							white; 
