<h2>Edit Diary</h2>

<%= render :partial => 'form' %>
<%= render :partial => 'shared/form_description', :locals => {:ao => @diary} %>
<%= render :partial => 'shared/form_photo', :locals => {:ao => @diary} %>