#forgot-pass
	.forgot-img
	
		@extend .grid-2_left
		display: none !important
	.forgot
	
		@extend .grid-2_right
		h2
			width: 90%
#presentation
	@extend .grid-2_left
	display: none !important
.sign_in,
.div_registration
	@extend .grid-2_right
	float: right