.guide_all
	@include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
	margin-left: 0px
	.details
		@include grid-fluid-span(7, $fluidGridColumnWidth, $fluidGridGutterWidth)
		margin-left: 0px
		display: inline-block
		h4
			text-align: left
		.info
			text-align: justify
			padding-right: 20px
			border-right: 1px solid $grayLighter
			color: $gray
			.cover
				@include grid-fluid-span(3, $fluidGridColumnWidth, $fluidGridGutterWidth)
				height: 200px
				display: inline-block
				float: left
				margin-right: 20px
				img
					width: 180px
					height: 180px


	.comments_object
		@include grid-fluid-span(5, $fluidGridColumnWidth, $fluidGridGutterWidth)
		margin-left: 0px
		float: right
		display: inline-block
		h2
			text-align: right
			line-height: 20px
	.map
		@include grid-fluid-span(8, $fluidGridColumnWidth, $fluidGridGutterWidth)
		margin-left: 0px
		display: inline-block
	.places
		width: 320px
		display: inline-block
		margin-left: 0px
		height: 414px
		overflow-x: hidden
		overflow-y: auto


	.photoiframe
		border: medium none
		height: 644px
		margin-left: 12px
		margin-right: auto
		width: 948px
		@include border-radius(10px)

.coment-social
	@include grid-fluid-span(5, $fluidGridColumnWidth, $fluidGridGutterWidth)
	float: right























































