.container
	.left_home
		.info_city
			margin-left: 0px
			.Carousel-trip
				.item
					img
						@include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
						max-height: 300px				
				.carousel-caption
					padding-top: 0
					bottom: 0px
					left: 0%
					background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75)
					h1
						font-size: 35px
						color: #9A9A9A
						opacity: 0.8
					p
						font-size: 16px
		.interest_points
			margin-left: 0px
			margin-top: 0px
			@include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
			.all-item
				.search_all
					@include grid-fluid-span(4, $fluidGridColumnWidth, $fluidGridGutterWidth)
					display: inline-block
					float: left

				.option_search
					@include grid-fluid-offset(2, $fluidGridColumnWidth, $fluidGridGutterWidth)
					@include grid-fluid-span(2, $fluidGridColumnWidth, $fluidGridGutterWidth)
					display: inline-block
					float: left
					.checkbox
						input
							margin-left: -10px
							margin-right: 5px
					
				.view_type
					@include grid-fluid-span(4, $fluidGridColumnWidth, $fluidGridGutterWidth)
					display: inline-block
					float: right
					.btn-group
						float: right
				.guide_home
					@include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
					display: inline-block
					float: left

	.right_home
		h2
			display: inline-block
			@include grid-fluid-span(5, $fluidGridColumnWidth, $fluidGridGutterWidth)
			a
				color: $gray
				font-family: $sansFontFamily
			a:hover
				text-decoration: none
		.dropdown
			display: inline-block
			@include grid-fluid-span(1, $fluidGridColumnWidth, $fluidGridGutterWidth)

		.planification
			display: inline-block
			@include border-radius(5px)
			overflow-y: auto
			overflow-x: hidden
			max-height: 350px
			@include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
		.comments_object
			display: inline-block







