//home
.container
	@include grid-fluid($fluidGridColumnWidth, $fluidGridGutterWidth)
	.banner
		display: inline-block
		width: 100%
		height: 60px
	.left_home
		@include makeColumn(8, 0)
		margin-left: 0px

	.right_home
		@include makeColumn(4, 0)



  