.place_show
	@include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
	display: inline-block
	float: left
	h2
	.info_photo
		@include grid-fluid-span(7, $fluidGridColumnWidth, $fluidGridGutterWidth)
		display: inline-block
		float: left
		img
			height: 415px
	.map
		@include grid-fluid-span(5, $fluidGridColumnWidth, $fluidGridGutterWidth)
		display: inline-block
		float: right
		clear: right
		height: 400px
	.description
		@include grid-fluid-span(5, $fluidGridColumnWidth, $fluidGridGutterWidth)
		display: inline-block
		float: right
		margin-top: 20px
	.coment-social
		@include grid-fluid-span(6, $fluidGridColumnWidth, $fluidGridGutterWidth)
		display: inline-block
		float: left

@media (max-width: 767px)
	.place_show
		@include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
		display: inline-block
		float: left
		h2
		.info_photo
			@include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
			display: inline-block
			float: left
			img
				height: auto

		.map
			@include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
			display: inline-block
			float: left


		.description
			@include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
			display: inline-block
			float: left

		.coment-social
			@include grid-fluid-span(12, $fluidGridColumnWidth, $fluidGridGutterWidth)
			display: inline-block
			float: left