article.wrapper_photo{
	position: absolute;
}

article.wrapper_photo > img.photo {
	min-width: 100px;
	min-height: 100px;
	max-width: 1000px;
	max-height: 1000px;
}

img.poi {
	width: 20px;
	height: 20px;
}

img.backbutton{
	left: 10px;
	bottom: 15px;
	/*width: 100px;*/
	/*height: 100px;*/
	float: left;
	position: absolute;
}