<%= render partial: 'toolbar/profile', locals: { subject: @user } %>
<div class="contacts_profile">
  <div id="follow">
    <ul>
      <li>
        <div class="roundedBox toolbar_front"></div>
        <div class="roundedBox toolbar_back"></div>
      </li>
      <li></li>
      <li></li>
      <li></li>
    </ul>    
  </div>
  <div id="followers"></div>
  <div id="contact_suggestions"></div>
</div>