<div id="content_profile" class="grid-3_center">
  <div class="trip_content">
    <p class="section">plannings / diaries</p>
    <ul class="trips">
      <li class="plannings imageProfile">
        <a href="/plannings">
          <div class="planning_item">
            <img src="/assets/toledo3.jpg" alt="Toledo_basica">
            <div class="caption_img vAlign">
              <p> P </p>
            </div>
          </div>
        </a>
      </li>

      <li class="diaries imageProfile" >
        <a href="/diaries/1">
          <div class="diary_item">
           <img src="/assets/san_juan.jpg" alt="">
            <div class="caption_img vAlign">
              <p> D </p>
            </div>
          </div>
        </a>
      </li> 
      <div class="city"><p>Toledo 2013</p></div>
      <div class="divider">
    </ul>
    <ul class="trips">
      <li class="plannings imageProfile">
        <div class="planning_item">
          <img src="/assets/london.jpg" alt=""> 
          <div class="caption_img">
            <p> P </p>
          </div>
        </div>
      </li>

      <li class="diaries imageProfile" >
        <a href="/diaries/1">
          <div class="diary_item">
            <img src="/assets/lodon2.jpg" alt="Toledo_basica"> 
            <div class="caption_img">
              <p> D </p>
            </div>
          </div>
        </a>
      </li> 
      <div class="city"><p>London</p></div>
      <div class="divider"></div>
    </ul>
    <ul class="trips">
      <li class="plannings">
        <div class="planning_item">
         <div class="caption_img">
          <p> P </p>
          </div>
        </div>
      </li>

      <li class="diaries" >
        <a href="/diaries/2">
          <div class="diary_item">
            <div class="caption_img">
              <p> D </p>
            </div>
          </div>
        </a>
      </li> 
      <div class="city"><p>Fi-Content</p></div>
      <div class="divider">
    </ul>
  </div>
</div>