    <!-- Carousel
================================================== -->

<div id="Carousel-trip" class="Carousel-trip carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag('panoramica_toledo.jpg') %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Toledo</h1>
          <p class="lead">World Heritage Site for its extensive cultural and monumental heritage</p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag('panoramica_toledo.jpg') %>
      <div class="container">
        <div class="carousel-caption">
          <h1>The city of the three cultures</h1>
          <p class="lead">Toledo was a place of coexistence of Christian, Muslim and Jewish cultures</p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag('panoramica_toledo.jpg') %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Misterious Toledo</h1>
          <p class="lead">That walled city that shows and hides an inexhaustible wealth of surprises</p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#Carousel-trip" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#Carousel-trip" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->


