<article class="all-item">
<!--search-->
	<div class="search_all">
		<form class="form-search ">
	    <div class="input-append">
	    	<input type="text" class="search-query">
	    	<button type="submit" class="btn">Search</button>
	    </div>
	  </form>
	</div>
<!--options search-->
  <div class="option_search">
    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      	Filter by
      	<span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <%= render :partial => "trips/select" %>
      </ul>
    </div>
  </div>
<!--view tipe-->
  <div class="view_type">
    <div class="btn-group">
      <button class="btn">list</button>
      <button class="btn">expanded</button>
      <button class="btn">map</button>
    </div>
  </div>

<!--view tipe-->
<div class="guide_home tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#guides">guides</a>
    </li>
        <li class="">
      <a data-toggle="tab" href="#routes">routes</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#points">points</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="guides" class="tab-pane active">
      <ul class="thumbnails">
      	<%= render :partial => "guides/item" %>
			</ul>
    </div>
        <div id="routes" class="tab-pane ">
      <ul class="thumbnails">
        <%= render :partial => "routes/item" %>
      </ul>
    </div>
    <div id="points" class="tab-pane ">
      <ul class="thumbnails">
      	<%= render :partial => "points/item" %>
			</ul>
    </div>

    
    
  </div>
</div>






