  <div class="menu-map">
    <ul class="button">
      <li><a href="#">plan your travel experience</a></li>
      <li><a href="#">a new way to know a city</a></li>
      <li><a href="#">never get lost</a></li>
      <li><a href="#">Get your journal automatically</a></li>
      

    </ul>

  </div> 
  <div class="front-map">
    <div class="inspire_Z">
      
      <a class="inspire_front">inspire</a>

    </div>
    <div class="search-inspire">

      <p class="front-text">where do you want to go?</p>
      1
      <input id="q" class="search-query" type="text" placeholder="Buscar" name="q" autocomplete="off">


    </div>


  </div>