<div id="interest_points">
  
  <div class="checkbox-menu">

    <input type="checkbox" name="check_01" id="checkGuides" checked onchange="javascript:showContentGuides()" />
    <label for="checkGuides"><p>guides</p></label>

    <input type="checkbox" name="check_02" id="checkRoutes" checked onchange="javascript:showContentRoutes()"/>
    <label for="checkRoutes"><p>routes</p></label>

    <input type="checkbox" name="check_03" id="checkPlaces" checked onchange="javascript:showContentPlaces()" />
    <label for="checkPlaces"><p>places</p></label>

  </div>

  <div class="filter">
    <%= render :partial => 'layouts/filter' %>
  </div>


  <div class="content-checkbox">
    
    <div id="item-guides">
      <% Guide.all.each do |guide| %>
      <%= render :partial => 'guides/item', :locals => { :guide => guide } %>
      <% end %>
    </div>

    <div id="item-routes">
      <% Route.all.each do |route| %>
      <%= render :partial => "routes/item", :locals => { :route => route } %>
      <% end %>
    </div>

    <div id="item-places">
      <% Place.all.each do |place| %>
      <%= render :partial => "places/item", :locals => { :place => place } %>
      <% end %>
    </div>
  </div>
</div>