<div id="users">
  <div class="top_travelers">

    <p class="topt">top travellers</p>

  </div>
 
  <div class="users_front_list">
    <ul>
    <% top = User.all.sample(9) %>
    <% top.each do |u| %> 
      <%= render :partial => "users/user", :locals => { :user => u } %>
    <% end %>
    </ul>
  
  </div>
  <div class="app_front">
    
    <%= link_to(image_tag('movil.jpg')) %>
  </div>
  
</div>