<%= div_for(route, :class =>"item-object minimized ui-corner-all") do %>
  <div class="picture">
    <%= link_to thumb_for(route.main_picture, '540x220'), route %>
    <div class="actions">
      <a href="#" class="button-resizable" class="ui-state-default ui-corner-all"></a>
      
      <a href="#" id="add" class="btn-add" rel="popover" data-placement="right" ></a>
      <div id="popover_add" style="display: none">
        <li>my planning</li>
        <li>my favourites</li>
        <li>my repository</li>
      </div>
    </div>
  </div>
  <a class="title">
    <li><%= route.title %></li>
  </a>
  <div class="info-show">
    <p class="info-item">
      Because you listened to Tupac, 2Pac, Snoop Dogg, The Notorious B.I.G., and Young JeezyBecause you listened to Tupac, 2Pac, Snoop Dogg, The Notorious B.I.G., and Young JeezyDogg, The Notorious B.I.G., and Young Jee
    </p>
  </div>
<% end %>
