<article class="actions">
	<% if activity.direct_object.present? %>
	<ul class="">
		<li>
			<%= render :partial => 'activities/comment',
			:locals => { :activity => activity } %>   
		</li>
		<li>
			<%= render :partial => 'activities/like',
			:locals => { :activity => activity } %>   
		</li>
		<li>
			<%= render :partial => 'activities/share',
			:locals => { :activity => activity } %>   
		</li>
	</ul>
	<% end %>
	<%= render :partial => 'activities/time_ago',
			:locals => { :activity => activity } %> 
</article>


