<%= div_for guide do %>

  <div class="thumb">
    <%= link_to(raw("<i class='icon_place_70-default'></i> "), guide)%>
  </div>

  <div class="text">
    <h6><%= link_to guide.title, guide %></h6>
  </div>

<% end %> 
