<h2>Edit Guide</h2>

<%= render :partial => 'form' %>
<%= render :partial => 'shared/form_description', :locals => {:ao => @guide} %>
<%= render :partial => 'shared/form_photo', :locals => {:ao => @guide} %>