.guide_all
	@include makeColumn(12, 0)
	margin-left: 0px
	.details
		@include makeColumn(7, 0)
		margin-left: 0px
		display: inline-block
		h4
			text-align: left
		.info
			text-align: justify
			padding-right: 5px
			.cover
				width: 200px
				height: 200px
				display: inline-block
				float: left
				img
					width: 180px
					height: 180px

	.comments
		@include makeColumn(5, 0)	
		margin-left: 0px
		float: right
		display: inline-block
		h4
			text-align: left
	.map
		@include makeColumn(8, 0)
		margin-left: 0px
		display: inline-block
	.places
		@include makeColumn(4, 0)
		display: inline-block
		margin-left: 0px
		height: 414px
		overflow-y: scroll
		overflow-x: hidden
		






