.guide_all
	@include makeColumn(12, 0)
	margin-left: 0px



	
	.visualization
		@include makeColumn(8, 0)
		margin-left: 0px
		float: left


	.right_visualization
		@include makeColumn(4, 0)		
		margin-top: 10px
		float: right
		.info
			text-align: left
			overflow-y: scroll
			height: 350px
			padding-right: 5px
			.cover
				width: 160px
				height: 160px
				display: inline-block
				float: left
				img
					width: 150px
					height: 150px

		.comments
			@include makeColumn(4, 0)	


