.guide_all
	@include makeColumn(12, 0)
	margin-left: 0px
	.details
		@include makeColumn(7, 0)
		margin-left: 0px
		display: inline-block
		h4
			text-align: left
		.info
			text-align: justify
			padding-right: 20px
			border-right: 1px solid $grayLighter
			color: $gray
			.cover
				width: 200px
				height: 200px
				display: inline-block
				float: left
				img
					width: 180px
					height: 180px


	.comments_object
		@include makeColumn(5, 0)	
		margin-left: 0px
		float: right
		display: inline-block
		h2
			text-align: right
			line-height: 20px
	.map
		@include makeColumn(8, 0)
		margin-left: 0px
		display: inline-block
	.places
		width: 320px
		display: inline-block
		margin-left: 0px
		height: 414px
		overflow-x: hidden
		overflow-y: auto


	.photoiframe
		border: medium none
		height: 644px
		margin-left: 12px
		margin-right: auto
		width: 948px
		@include border-radius(10px)
	.book_show
		margin-left: 20px






















































