.place_show
	@include makeColumn(12, 0)
	margin-left: 0px
	.map
		@include makeColumn(6, 0)




.restructure
	@include makeColumn(6, 0)
	margin-left: 0px
.description
	@include makeColumn(6, 0)
	overflow-y: scroll
	height: 320px



.comentpoint
	@include makeColumn(12, 0)
	margin-left: 0px
	margin-top: 10px

.info
	text-align: center
	

.btn-large
	margin-top: 20px

.titlecentral
	text-align: center
	display: inline-block


