grid-1
...............................
<div class="grid-1"></div>

grid-2
...............................
<div class="grid-2_left"></div> 				8 columns
<div class="grid-2_right"></div> 				4 columns

grid-3
...............................
<div class="grid-3_left"></div> 				2 columns
<div class="grid-3_center"></div> 			7 columns
<div class="grid-3_right"></div> 				3 columns

grid-4
...............................
<div class="grid-4_left"></div> 				2 columns
<div class="grid-4_center"></div> 			8 columns
<div class="grid-4_right"></div> 				2 columns

grid-5
...............................
<div class="grid-5_left"></div> 				2 columns
<div class="grid-5_center-left"></div> 	4 columns
<div class="grid-5_center-right"></div> 4 columns
<div class="grid-5_right"></div> 				2 columns


<div class="toolbar">

.toolbar
  @extend "grid-4_left"


 <aside class="guides">


 	aside.guides
 	  @extend .grid-5