<div>
  <%= render :partial => "toolbar/plannings" %>
</div>
<div id="title_section"><p>plannings</p></div>
<div id="planning">
  <div id="planning_info" class="planning_info">
    <%= render :partial => "user_plannings", :locals => {:planning => @plannings.first} %>
  </div>
  <div class="menu_views">
    <ul>
      <li><a href="">custom</a></li>
      <li><a href="">map</a></li>
      <li><a href="">extended</a></li>
      <li><a href="">calendar</a></li>
    </ul>
  </div>
  <% if @plannings.length > 0 %>
    <div id="planning_content" class="planning_content">
      <%= render :partial => "planning_content" , :locals => {:planning => @plannings.first} %>
    </div>
  <% end %>
</div>

